html,
    body{
        height: 100%;
    }
body {
    background: linear-gradient(180deg, #4b5563 0%, #1f2937 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 700px;
}
.logo {
    width: 400px;
    height: 200px;
    border-radius: 50px;
    border: 2px solid #fff;
}