h1 {
    color: #1a1a1a;
    text-align: center;
}
p {
    color: #1a1a1a;
}
nav {
    
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0, 50px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    margin: block;
    margin: 0;
}
header img {
    width: 200px;
}
header nav {
    float: right;
}
header nav a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
}
.banner img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 500px;
}